/* Reset inicial */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ==================== Inicio maquetacion del encabezado ==================== */
#encabezado {
	width: 100%;
	height: 950px;
	background-color: #401C1C;
/*    background-image: linear-gradient(rgba(107, 71, 71, 0.5), rgba(107, 71, 71, 0.5)), url("../Media/FondoHeroImage.png"); */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/FondoHeroImage.png");
}

/* -------------------- Menú -------------------- */
nav {
	width: 100%;
	height: 150px;
	background-color: rgba(64, 51, 72, 1);
	/* position: fixed; */
	top: 0;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	z-index: 1;
}

/* ----- Formato del Logo ----- */
#logo {
	width: auto;
	height: 100%;
	float: left;
	display: block;
	margin-left: 100px;
	padding: 10px;
   border-radius: 50%;
}

/* ----- Contenedor selector comunidad autonoma ----- */
#selector {
   width: 250px;
   height: auto;
   display: block;
   line-height: 150px;
   margin-left: 50px;
/*    background-color: aqua; */
   float: left
}

#comunidadAutonoma {
   font-size: 1.3rem;
   background-color: rgb(230, 204, 239);
}

/* ----- Contenedor pestañas Menú ----- */
#menuEncabezado {
   width: auto;
   height: 150px;
/*    line-height: 100%; */
	float: right;
	margin-right: 100px;
/*    background-color: aqua; */
/*    overflow: hidden; */
   z-index: 1;
}

/* ----- Lista de Menú ----- */
#menuPrincipal {
	list-style-type: none;
/* 	width: auto; */
	line-height: 150px;
/* 	float: right; */
}

/* ----- Cada uno de los titulos del menú principal ----- */
.titulosMenuPpal {
	float: left;
	margin: 0px 20px;
/*	line-height: 150px;*/
}

/* ----- Formato de fuentes titulos menú ----- */
.titulosMenuPpal>a {
	font-family: 'Roboto', sans-serif;
	/*Tamaño de letra lo hereda de "nav"*/
	text-decoration: none;
	color: rgba(230, 204, 239, 1);
}

/* -------------------- Fin Menú -------------------- */

/* ----- Nombre Salón ----- */
#nombreSalon {
	width: 1000px;
	font-family: 'Courgette', cursive;
	font-size: 8.3rem;
	text-shadow: 3px 5px 8px rgba(230, 204, 239, 1);
	margin-left: 630px;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 165px;
/*    background-color:aqua; */
}

/* ----- Eslogan Salón ----- */
#esloganSalon {
	width: 700px;
	font-family: 'Courgette', cursive;
	text-shadow: 3px 5px 8px rgba(214, 206, 206, 1);
	font-size: 4rem;
	margin-left: 780px;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 200px;
}


/* ==================== Final maquetacion del encabezado ==================== */










/* ==================== Inicio maquetacion sección Servicios ==================== */
/* ----- Caja contenedora de la seccion Servicios ----- */
#servicios {
   width: 100%;
   height: 950px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/FondoServicios.png");
}

/* ----- Titulo seccióon Servicios ----- */
.tituloSeccionBlanco {
   font-family: 'Courgette', cursive;
	font-size: 3.5rem;
   color: rgba(230, 204, 239, 1);
   text-shadow: 3px 5px 8px rgb(0, 0, 0, 1);
   padding-top: 15px;
   margin-left: 100px;
}

/* ----- Contenedor del scroll lateral de servicios----- */
#contenedorImgsScrollHorizontal {
   width: auto;
   height: 317px;
   overflow-y: hidden;
   overflow-x: auto;
   white-space: nowrap;
   margin-left: 95px;
   margin-right: 100px;
}

/* ----- Caja contenedora de la imagenes del scroll lateral de servicios----- */
.imgsScrollHorizontal {
   width: 460;
   height: 305px;
   margin: 0, 10px, 0, 0;
   padding: 5px;
   display: inline-block; 
/*    background-color: bisque;   */
}

/* ----- Texto encima de cada imagen del scroll lateral de servicios ----- */
.infoImgsScroll {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Imagenes del scroll lateral ----- */
.imagenScroll {
   width: 460px;
   height: 260px;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
}

/* ---- Contenedor de información comunidad actual ----- */
#enTuComunidad {
/*    width: 1761px; */
   width: auto;
   height: 387px;
/*    background-color: aqua; */
   overflow-y: hidden;
   overflow-x: auto;
   white-space: nowrap;
   margin-left: 95px;
   margin-right: 100px;
/*    margin-left: 80px;
   margin-right: 80px;
   overflow: hidden; */
}

/* ----- Contenedor texto e imagen centro ----- */
.contenedorCentro {
   width: auto;
   height: 100%;
/*    float: left; */
   padding-left: 10px;
   padding-right: 12px;
   padding: 5px;
   display: inline-block;
}

/* ----- Contenedor Nombre del centro ----- */
.contNombreCentro {
   width: 557px;
   line-height: 50px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Imagen de la comunidad actual ----- */
.imagenCentro {
   width: 557px;
   height: 313px;
 /*   background-color:aliceblue; */
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
   border-width: 5px;

}

/* ====================  Final maquetacion sección Servicios ==================== */








/* ================== Inicio maquetacion sección Sobre Nosotros ================= */
/* ----- Contenedor de la seccion Sobre Nosotros ----- */
#sobreNosotros {
   width: 100%;
   height: 950px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../Media/FondoSobreNosotros.png");
}

#sobreNosotros>h3 {
   padding-top: 50px;
   margin-left: 300px;
}
/* ----- Caja contenedora de imagen e informacion Sobre Nosotros ----- */
#contenedorSobreNosotros {
   width: 1720px;
   height: 600px;
   margin-left: 100px;
   margin-right: 100px;
/*    padding-top: 40px; */
/*    background-color:aliceblue; */
/*    border-style: solid;
   border-color: rgba(230, 204, 239, 1);
   overflow: hidden; */
}

/* ----- Caja contenedora texto Sobre nosotros ----- */
#cajaTextoSobreNosotros {
   width: 700px;
   height: 422px;
/*    background-color:aliceblue; */
   float: left;
   margin-left: 200px;
   padding-top: 40px;
/*    border-style: solid;
   border-color: rgba(230, 204, 239, 1); */
}

/* ----- Texto descriptivo de la comunidad actual ----- */
.textoInfoSobreNosotros {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Imagen de presentación Sobre nosotros ----- */
#imgSobreNosotros>img {

   width: 750px;
   height: 422px;
   margin-left: 50px;
/*    margin-right: 100px; */
   float: left;
/*    background-color:aliceblue; */
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
}
/* =================== Final maquetacion sección Sobre Nosotros ================= */









/* ==================== Inicio maquetacion sección Contacto ===================== */
/* ----- Contenedor sección contacto ----- */
#contacto {
   width: 100%;
   height: 830px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../Media/FondoContacto2.png");
   padding-top:  50px;
}

/* ----- Caja contenedora de mapa y formulario de contacto ----- */
#contenedorContacto {
   width: 1720px;
   height: 500px;
   margin-top: 50px;
   margin-left: 100px;
/*    border-style: solid;
   border-color: rgba(230, 204, 239, 1); */
   overflow: hidden;
}

#mapa {
   width: 600px;
   height: 100%;
   float: left;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
}

#formulario {
   width: 1010px;
   height: 100%;
   float: left;
   padding-top: 50px;
   margin-left: 100px;
/*    border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1); */
}

#formulario>label {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
   vertical-align: top;
}

#formulario>input {
   width: 740px;
   line-height: 35px;
   background-color: rgba(230, 204, 239, 1);
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
   color: rgba(64, 51, 72, 0.6);
}

#consulta {
   width: 740px;
   /*    height: 140px; */
   line-height: 35px;
   background-color: rgba(230, 204, 239, 1);
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
   color: rgba(64, 51, 72, 0.6);
}

#botonConsulta {
   width: 250px;
   line-height: 50px;
   background-color: rgba(230, 204, 239, 1);
   text-align: center;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(64, 51, 72, 1);
   margin-left: 160px;
}
/* ===================== Final maquetacion sección Contacto ===================== */







/* ================= Inicio maquetacion sección Pie de página =================== */

/* ===== Inicio maquetacion del pie de pagina ===== */
#piePagina {
	width: 100%;
	height: 120px;
	background-color: rgba(64, 51, 72, 1);
	overflow: hidden;
	/* text-align: center; */
}
/* ----- Formato de iconos pie de pagina ----- */
#redes {
   width: 860px;
   height: 120px;
   float: left;
   overflow: hidden;
}

#redes> i {
	line-height: 120px;
	font-size: 3rem;
	color: white;
   margin-left: 80px;
   padding-left: 20px;
	padding-right: 20px;
	transition-property: color;
	transition-duration: 0.8s;
}

#derechos {
   width: 850px;
   height: 120px;
   overflow: hidden;
   float: left;
   text-align: right;
}

#derechos> p {
	line-height: 120px;
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: white;
   float: right;
/* 	transition-property: color;
	transition-duration: 0.8s; */
}

#derechos> i {
	line-height: 120px;
	font-size: 3rem;
	color: white;
   float: right;
   text-align: right;
	padding-right: 50px;
/* 	transition-property: color;
	transition-duration: 0.8s; */
}

/* ----- Hover de iconos pie de pagina ----- */
#redes i:hover {
	color: rgb(218, 137, 245);
}

/* ===== Final maquetacion del pie de pagina ===== */


/* ================== Final maquetacion sección Pie de página =================== */