/* Reset inicial */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ==================== Inicio maquetacion del encabezado ==================== */
#encabezado {
	width: 100%;
	height: 950px;
/* 	background-color: #401C1C; */
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/FondoHeroImage.png");
}

/* -------------------- Menú -------------------- */
nav {
	width: 100%;
	height: 100px;
	background-color: rgba(64, 51, 72, 1);
	/* position: fixed; */
	top: 0;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	z-index: 1;
}

/* ----- Formato del Logo ----- */
#logo {
	width: auto;
	height: 100%;
	float: left;
	display: block;
	margin-left: 100px;
	padding: 5px;
   border-radius: 50%;
}

/* ----- Contenedor selector comunidad autonoma ----- */
#selector {
   width: 250px;
   height: auto;
   display: block;
   line-height: 100px;
   margin-left: 50px;
   float: left
}

#comunidadAutonoma {
   font-size: 1.3rem;
   background-color: rgb(230, 204, 239);
   color: rgb(64, 51, 72);
   transition-property: background-color, color;
   transition-duration: 0.6s;
}

#comunidadAutonoma:hover {
/*    background-color: rgb(64, 51, 72); */
/*    color: rgb(230, 204, 239); */
   color: rgb(162, 15, 211);
}


/* ----- Contenedor pestañas Menú ----- */
#menuEncabezado {
   width: auto;
   height: 100px;
/*    line-height: 100%; */
	float: right;
	margin-right: 100px;
   overflow: hidden;
   z-index: 1;
}

/* ----- Lista de Menú ----- */
#menuPrincipal {
	list-style-type: none;
/* 	width: auto; */
	line-height: 100px;
   float: left;
}

/* ----- Cada uno de los titulos del menú principal ----- */
.titulosMenuPpal {
	float: left;
	margin: 0px 20px;
/*	line-height: 150px;*/
}

/* ----- Formato de fuentes titulos menú ----- */
.titulosMenuPpal>a {
	font-family: 'Roboto', sans-serif;
	/*Tamaño de letra lo hereda de "nav"*/
	text-decoration: none;
	color: rgba(230, 204, 239, 1);
   transition-property: color;
	transition-duration: 0.6s;
}

.titulosMenuPpal> a:hover {
   color: rgb(198, 84, 236);
}

#menuEncabezado> a {
   line-height: 100px;
	font-size: 2rem;
	color: rgba(230, 204, 239, 1);
   float: left;
   padding-left: 20px;
   transition-property: color;
	transition-duration: 0.6s;
}

#menuEncabezado> a:hover {
   color: rgb(198, 84, 236);
}

/* -------------------- Fin Menú -------------------- */

/* ----- Nombre Salón ----- */
#nombreSalon {
	width: 1000px;
	font-family: 'Courgette', cursive;
	font-size: 8.3rem;
	text-shadow: 3px 5px 8px rgba(230, 204, 239, 1);
	margin-left: 630px;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 165px;
}

/* ----- Eslogan Salón ----- */
#esloganSalon {
	width: 700px;
	font-family: 'Courgette', cursive;
	text-shadow: 3px 5px 8px rgba(214, 206, 206, 1);
	font-size: 4rem;
	margin-left: 780px;
	margin-right: auto;
	text-align: center;
	position: relative;
	top: 200px;
}


/* ==================== Final maquetacion del encabezado ==================== */










/* ==================== Inicio maquetacion sección Servicios ==================== */
/* ----- Caja contenedora de la seccion Servicios ----- */
#servicios {
   width: 100%;
   height: 950px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Media/FondoServicios.png");
}

/* ----- Titulo seccióon Servicios ----- */
.tituloSeccionBlanco {
   font-family: 'Courgette', cursive;
	font-size: 3.5rem;
   color: rgba(230, 204, 239, 1);
   text-shadow: 3px 5px 8px rgb(0, 0, 0, 1);
   padding-top: 15px;
   margin-left: 100px;
}

/* ----- Contenedor del scroll lateral de servicios----- */
#contenedorImgsScrollHorizontal {
   width: auto;
   height: 317px;
   overflow-y: hidden;
   overflow-x: auto;
   white-space: nowrap;
   margin-left: 95px;
   margin-right: 100px;
}

/* ----- Caja contenedora de la imagenes del scroll lateral de servicios----- */
.imgsScrollHorizontal {
   width: 460;
   height: 305px;
   margin: 0, 10px, 0, 0;
   padding: 5px;
   display: inline-block;
    
}

/* ----- Texto encima de cada imagen del scroll lateral de servicios ----- */
.infoImgsScroll {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Caja de imagenes del scroll lateral ----- */
.cajaImgScroll {
   width: 460px;
   height: 260px;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
   overflow: hidden;
}

/* ----- Imagenes del scroll lateral ----- */
.imagenScroll {
   width: 460px;
   height: 260px;

   transition-property: transform;
	transition-duration: 1.5s;
}

/* ----- Hover de imagenes scroll lateral de servicios ----- */
.imagenScroll:hover {
transform: scale(1.3,1.3);
}

/* ---- Contenedor de información comunidad actual ----- */
#enTuComunidad {
   width: auto;
   height: 387px;
   overflow-y: hidden;
   overflow-x: auto;
   white-space: nowrap;
   margin-left: 95px;
   margin-right: 100px;
}

/* ----- Contenedor texto e imagen centro ----- */
.contenedorCentro {
   width: auto;
   height: 100%;
   padding-left: 10px;
   padding-right: 12px;
   padding: 5px;
   display: inline-block;
}

/* ----- Contenedor Nombre del centro ----- */
.contNombreCentro {
   width: 557px;
   line-height: 50px;
   text-align: center;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Caja de imagenes de centros en la comunidad actual ----- */
.cajaImgCentro {
   width: 557px;
   height: 313px;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
   overflow: hidden;
}
/* ----- Imagen de la comunidad actual ----- */
.imagenCentro {
   width: 557px;
   height: 313px;
   transition-property: transform;
	transition-duration: 1.5s;
}

/* ----- Hover de imagenes scroll lateral de centros ----- */
.imagenCentro:hover {
transform: scale(1.3,1.3);
}

/* ====================  Final maquetacion sección Servicios ==================== */








/* ================== Inicio maquetacion sección Sobre Nosotros ================= */
/* ----- Contenedor de la seccion Sobre Nosotros ----- */
#sobreNosotros {
   width: 100%;
   height: 950px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../Media/FondoSobreNosotros.png");
}

#sobreNosotros>h3 {
   padding-top: 100px;
   margin-left: 200px;
}
/* ----- Caja contenedora de imagen e informacion Sobre Nosotros ----- */
#contenedorSobreNosotros {
   width: 1720px;
   height: 600px;
   margin-left: 100px;
   margin-right: 100px;
/*    padding-top: 40px; */
/*    border-style: solid;
   border-color: rgba(230, 204, 239, 1);
   overflow: hidden; */
}

/* ----- Caja contenedora texto Sobre nosotros ----- */
#cajaTextoSobreNosotros {
   width: 700px;
   height: 422px;
   float: left;
   margin-left: 100px;
   padding-top: 40px;
/*    border-style: solid;
   border-color: rgba(230, 204, 239, 1); */
}

/* ----- Texto descriptivo de la comunidad actual ----- */
.textoInfoSobreNosotros {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
}

/* ----- Imagen de presentación Sobre nosotros ----- */
#imgSobreNosotros>img {
   width: 750px;
   height: 422px;
   margin-left: 50px;
   float: left;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);

}


/* =================== Final maquetacion sección Sobre Nosotros ================= */









/* ==================== Inicio maquetacion sección Contacto ===================== */
/* ----- Contenedor sección contacto ----- */
#contacto {
   width: 100%;
   height: 880px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../Media/FondoContacto.png");
/*    padding-top:  50px; */
}

#contacto>h3 {
   padding-top: 100px;
   margin-left: 200px;
}

/* ----- Caja contenedora de mapa y formulario de contacto ----- */
#contenedorContacto {
   width: 1600px;
   height: 500px;
   margin-top: 50px;
   margin-left: 200px;
   overflow: hidden;
}

#mapa {
   width: 600px;
   height: 100%;
   float: left;
   border-style: solid;
   border-radius: 20px;
   border-color: rgba(230, 204, 239, 1);
}

#formulario {
   width: 850px;
   height: 100%;
   float: left;
   padding-top: 50px;
   margin-left: 50px;
}

#formulario>label {
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(230, 204, 239, 1);
   vertical-align: top;
}

#formulario>input {
   width: 690px;
   line-height: 35px;
   background-color: rgba(230, 204, 239, 1);
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
   color: rgba(64, 51, 72, 0.6);
}

#consulta {
   width: 690px;
   line-height: 35px;
   background-color: rgba(230, 204, 239, 1);
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
   color: rgba(64, 51, 72, 0.6);
}

#botonConsulta {
   width: 250px;
   line-height: 50px;
   background-color: rgba(230, 204, 239, 1);
   text-align: center;
   font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
   color: rgba(64, 51, 72, 1);
   margin-left: 160px;
	transition-property: background-color, color;
	transition-duration: 0.6s;
}

#botonConsulta:hover {
   background-color: rgba(64, 51, 72, 1);
   color: rgba(230, 204, 239, 1);
}
/* ===================== Final maquetacion sección Contacto ===================== */







/* ================= Inicio maquetacion sección Pie de página =================== */

/* ===== Inicio maquetacion del pie de pagina ===== */
#piePagina {
	width: 100%;
	height: 70px;
	background-color: rgba(64, 51, 72, 1);
	overflow: hidden;
}
/* ----- Formato de iconos pie de pagina ----- */
#redes {
   width: 860px;
   height: 70px;
   float: left;
   overflow: hidden;
}

#redes> i {
	line-height: 70px;
	font-size: 2.5rem;
	color: white;
   margin-left: 80px;
   padding-left: 20px;
	padding-right: 20px;
	transition-property: color;
	transition-duration: 0.6s;
}

#derechos {
   width: 850px;
   height: 70px;
   overflow: hidden;
   float: left;
   text-align: right;
}

#derechos> p {
	line-height: 70px;
   font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	color: white;
   float: right;
}

#derechos> i {
	line-height: 70px;
	font-size: 2rem;
	color: white;
   float: right;
   text-align: right;
	padding-right: 50px;
}

/* ----- Hover de iconos pie de pagina ----- */
#redes i:hover {
	color: rgb(198, 84, 236);
}

/* ===== Final maquetacion del pie de pagina ===== */


/* ================== Final maquetacion sección Pie de página =================== */